* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Global variables */
:root {
  --first-color : #1E3A8A;
  --second-color : #F97316;
  --third-color :  #F3F4F6; 
}
/* Global variables */
/* Start Styling of navbar */
nav {
  background-color: var(--first-color);
  padding : 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 a{
  color : var(--third-color);
  font-style: italic;
  letter-spacing: 1px;
  text-decoration: none;
}
nav h1 span {
  color : var(--second-color);
}
nav .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
nav .buttons button {
  border: none;
  color: #F3F4F6;
  cursor: pointer;
  background-color: transparent;
  font-size: 17px;
  transition: .2s;
  letter-spacing: 1px;
  padding: 5px;
}
nav .buttons button:hover {
  color: var(--second-color);
  border-bottom: 1px solid var(--second-color);
}
nav .buttons .login-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
nav .login-register button {
  border-radius: 2px;
  font-size: 15px;
  transition: .2s;
  padding: 7px;
}
nav .login-register :nth-child(1) button {
  background-color: var(--second-color);
  margin-right: 10px;
}
nav .login-register :nth-child(1) button:hover {
  background-color: #f97416d3;
  color: white;
  border-bottom: none;
}
nav .login-register :nth-child(2) button {
  background-color: transparent;
  border: 1px solid var(--third-color);
}
nav .login-register :nth-child(2) button:hover {
  background-color: rgba(255, 255, 255, 0.452);
  color: white;
}
/* End Styling of navbar */
/* Start Styling of footer */
footer {
  background: var(--first-color);   
  color: black;       
  padding: 30px 20px;            
}

footer h2 a{
  color: var(--second-color);
  margin-bottom: 10px;
  text-align: left;
  font-style: italic;
  text-decoration: none;
}
footer span {
  color: var(--third-color);   
}
footer p {
  color: var(--third-color);
  margin: 5px 0;
  font-size: 16px;
  text-align: center;
}
footer :nth-child(3) a {
  color: var(--second-color);
  font-weight: bold;
  text-decoration: none;
}
footer p:last-child {
  margin-top: 25px;
  font-size: 15px; 
  text-align: right;
}
footer :nth-child(4) span {
  color: var(--second-color);
  font-weight: bold;
}
/* End Styling of footer */
/* Start Styling of home */
.home {
  background-image: url('../public/assets/images/ppe\ image.jpg');
  background-size: cover;
  /* border: 1px solid red; */
  padding: 20px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.home .container {
  letter-spacing: 1px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.home .container h2 {
  color: var(--third-color);
}
.home .container h2 span {
  color: var(--second-color);
}
.home .container p {
  text-align: center;
  font-size: 20px;
  color: #F3F4F6;
  line-height: 1.6;
}
.home .container p span {
  color: var(--second-color);
  font-style: italic;
}
.home .container button {
  background-color: var(--second-color);
  border: none;
  color: var(--third-color);
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 17px;
  width: 100%;
  transition: .2s;
}
.home .container button:hover {
  background-color: #f97416b4;
}
/* End Styling of home */
/* Start Styling of products */
.products {
  padding: 20px;
}
.products .container ul {
  box-shadow: 4px 3px 7px 1px var(--first-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
}
.products .container ul li {
  list-style-type: none;
}
.products .container ul li a {
  padding: 10px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.438);
  background-color: var(--third-color);
  color: black;
  letter-spacing: 1px;
  transition: .2s;
  border-radius: 5px;
}
.products .container ul li a:hover {
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
  color: var(--third-color);
}
/* End Styling of products */
/* Start Styling of each product */
.product-category {
  padding: 20px;
}
.product-category h2 {
  letter-spacing: 1px;
  color: var(--first-color);
  text-align: center;
  font-size: 1.7rem;
}
.product-category .category {
  height: 80vh;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  background-color: var(--third-color);
  border-radius: 5px;
}
.product-category .product  {
  width: calc((100% - 30px) / 3);
  padding: 20px;
  box-shadow: 3px 3px 5px var(--first-color);
  border-radius: 5px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.product-category .product .product-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-category .product h3 {
  color: rgba(0, 0, 0, 0.774);
  text-align: center;
  
}
.product-category .product p {
  color: #1e3b8ae1;
  text-align: center;
  font-size: 15px;
  line-height: 1.6;
}
.product-category .product button {
  border: none;
  align-self: center;
  padding: 10px;
  background-color: var(--second-color);
  border-radius: 5px;
  transition: .2s;
  cursor: pointer;
  align-self: flex-start;
}
.product-category .product button:hover {
  background-color: #f97416b4;
}
.product-category .product button a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 17px;
}
.product-category .product span img {
  width: 150px;
  height: 150px;
  box-shadow: 1px 1px 2px#1e3b8ae1;
  border-radius: 10%;
  object-fit: cover;
}
/* End Styling of each product */
/* start styling of product detail */
.product-detail {
  height: 80vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail .product {
  box-shadow: 3px 3px 5px var(--first-color);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  background-color: var(--third-color);
  letter-spacing: 1px;
}
.product-detail .product h3 {
  color: rgba(0, 0, 0, 0.774);
}
.product-detail .product img {
  border-radius: 5px;
  box-shadow: 1px 1px 2px#1e3b8ae1;
  width: 200px;
  height: 200px;
  margin-top: 30px;
}
.product-detail .product h4 {
  color: #1e3b8ae1;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.6;
  margin-top: 20px;
}
.product-detail .product :nth-child(4){
  font-size: 17px;
  margin-top: 20px;
}
.product-detail .product :nth-child(4) span{
  font-weight: bold;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 ;
  gap: 10px;
}
.quantity button {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: var(--first-color);
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.quantity button:hover {
  background-color: var(--second-color);
}
.quantity span {
  font-size: 18px;
  font-weight: bold;
  color: #1e3b8ab4;
}
.add-cart {
  background-color: var(--first-color);
  padding: 10px 20px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
  color: var(--third-color);
}
.add-cart:hover {
  background-color: var(--second-color);
}
/* End styling of prodcut detail */
/* Start Styling of confirmation message */
.confirm {
  color : green;
  letter-spacing: 1px;
  position: absolute;
  top : 0;
  width: 100%;
  height: 130%;
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End Styling of confirmation message */
/* Start Styling of cart */
.cart {
  min-height: 70vh;
  padding: 20px;
}
.cart h2 {
  text-align: center;
  letter-spacing: 1px;
  color: var(--first-color);
}
.cart ul {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.cart ul li {
  padding: 20px;
  list-style-type: none;
  background-color: var(--third-color);
  border-radius: 5px;
  box-shadow: 1px 1px 2px #1e3b8ae1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: calc(80%  / 4);
}
.cart li img {
  box-shadow: 1px 1px 2px #1e3b8ae1;
  width: 100px;
  height: 100px;
}
.cart li p{
  font-size: 16px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.774);
}
.cart div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0  10px;
  gap: 10px;
}
.cart div button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: var(--first-color);
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}
.cart div button:hover {
  background-color: var(--second-color);
}
.cart div span {
  font-size: 18px;
  font-weight: bold;
  color: #1e3b8ab4;
}
.cart li > button {
  background-color: rgb(230, 17, 17);
  color: var(--third-color);
  padding: 5px;
  border: none;
  border-radius: 5px;
  letter-spacing: .7px;
  cursor: pointer;
  transition: .2s;
}
.cart li > button:hover {
  background-color: rgba(230, 17, 17, 0.836);
}
.cart li > span {
  margin-top: 10px;
  letter-spacing: .5px;
}
.cart li > span span {
  font-weight: bold;
  font-size: 20px;
}
/* End Styling of cart */
/* Start Styling of empty */
.empty {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty p {
  font-size: 30px;
  letter-spacing: 1px;
  color: red;
} 
/* End Styling of empty */
/* Start Styling od register */
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px;
}
.register h2 {
  letter-spacing: 1px;
  color: var(--first-color);
  margin-bottom: 20px;
}
.register form {
  border-radius: 5px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--third-color);
  box-shadow: 1px 1px 2px #1e3b8ae1;  
}
.register form .f-name, 
.register form .l-name, 
.register form .email, 
.register form .pw,
.register form .username {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--first-color);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.658);
  letter-spacing: .8px;
  font-size: 16px;
  outline: none;
  caret-color: var(--first-color);
}
.register form .f-name:focus, 
.register form .l-name:focus, 
.register form .email:focus, 
.register form .pw:focus,
.register form .username:focus {
  letter-spacing: 1px;
}
.register form .radio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  margin-bottom: 50px;
}
.register form .radio label {
  font-size: 16px;
  letter-spacing: .8px;
  cursor: pointer;
}
.register form .radio label input {
  cursor: pointer;
}
.register form .conditions {
  width: 70%;
  display: flex;
  align-items: center;
}
.register form .conditions label {
  margin-left: 20px;
  font-size: 17px;
  letter-spacing: 1px;
}
.register form .conditions input {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.register form button {
  margin-top: 20px;
  padding: 10px 20px;
  width: 70%;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border: 1px solid var(--first-color);
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
  color: var(--first-color);
}
.register form button:hover {
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
  color: var(--third-color);
}
/* End Styling od register */
/* Start Styling of Login */
.login {
  padding: 20px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login form {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--third-color);
  box-shadow: 1px 1px 2px #1e3b8ae1;    
  border-radius: 5px;
}
.login h2 {
  letter-spacing: 1px;
  color: var(--first-color);
  margin-bottom: 20px;
}
.login form .username,
.login form .pw {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--first-color);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.658);
  letter-spacing: .8px;
  font-size: 16px;
  outline: none;
  caret-color: var(--first-color);
}
.login form .username:focus,
.login form .pw:focus{
  letter-spacing: 1px;
}
.login form button {
  padding: 10px 20px;
  width: 70%;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  border: 1px solid var(--first-color);
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
  color: var(--first-color);
}
.login form button:hover {
  background-color: var(--second-color);
  border: 1px solid var(--second-color);
  color: var(--third-color);
}
/* End Styling of Login */
/* Start Styling not found page */
.not-found {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found p {
  font-size: 25px;
  letter-spacing: 1px;
}
/* End Styling not found page */