@media (max-width : 768px) {
    /* Start Responsive for navbar */
    nav {
        flex-direction: column;
    }
    nav h1 {
        text-align: left;
        width: 100%;
    }
    nav .buttons {
        margin-top: 20px;
        flex-direction: column;
    }
    nav .buttons button {
        margin-top: 10px;
    }
    nav .buttons .login-register {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    nav .login-register button {
        font-size: 16px;
    }
    nav .login-register :nth-child(1) button {
        margin-right: 0;
    }
    /* End Responsive for navbar */
    /* Start Responssive for home section */
    .home {
        background-image: none;
        height: 80vh;
    }
    .home .container h2 {
        text-align: center;
        line-height: 1.6;
        font-size: 22px;
    }
    .home .container p {
        font-size: 17px;
    }
    /* End Responssive for home section */
    /* Start Responsive for footer */
    footer h2 {
        margin-bottom: 50px;
    }
    footer :nth-child(2)  {
        margin-bottom: 20px;
    }
    footer p:last-child {
        margin-top: 50px;
        text-align: center;
    }
    /* End Responsive for footer */
    /* Start Responsive for products */
    .products .container ul {
        flex-direction: column;
        width: 70%;
    }
    .products .container ul li {
        margin: 20px 0;
    }
    /* End Responsive for products */
    /* Start Responsive for prodcut category */
    .product-category {
        margin-top: 30px;
    }
    .product-category .category {
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .product-category .category .product  {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .product-category .product span img {
        width: 100px;
        height: 100px;
    }
    .product-category .product h3 {
        margin-top: 20px;
        font-size: 17px;
    }
    .product-category .product p {
        margin-top: 20px;
    }
    .product-category .product button {
        margin-top: 20px;
        align-self: center;
    }
    .product-category .product button a {
        font-size: 16px;
    }
    /* End Responsive for product category */
    /* Start Responsive for confirmation message */
    .confirm {
        width: 100%;
        height: 198%;
        text-align: center;
    }
    /* End Responsive for confirmation message */
    /* Start Responsive of cart */
    .cart ul {
        flex-direction: column;
    }
    .cart ul li {
        width: 80%;
    }
    /* End Responsive of cart */
    /* Start Responsive of register */
    .register form {
        width: 80%;
    }
    .register form .f-name, 
    .register form .l-name, 
    .register form .email, 
    .register form .pw,
    .register form .username,
    .register form .radio,
    .register form .conditions {
        width: 100%;
    }
    .register form .conditions label {
        font-size: 14px;
    }
    .register form .conditions input {
        width: 16px;
        height: 16px;
    }
    .register form button {
        width: 100%;
    }
    /* End Responsive of register */
    /* Start Responsive of login */
    .login form {
        width: 90%;
    }
    .login h2 {
        text-align: center;
    }
    .login form h2,
    .login form .username,
    .login form .pw,
    .login form button {
        width: 100%;
    }
    /* End Responsive of login */
}
@media (min-width : 769px) and (max-width: 1023px){
    /* Start Responsive for navbar */
    nav .buttons {
        width: 50%;
    }
    /* End Responsive for navbar */
    /* Start Responsive for products */
    .products {
        height: 90vh;
    }
    .products .container ul {
        width: 50%;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .products .container ul li {
        width: calc(50% - 10px);
        text-align: center;
    }
    /* End Responsive for products */
    /* Start Responsive for prodcut category */
    .product-category {
        margin-top: 30px;
    }
    .product-category .category {
        height: auto;
        flex-wrap: wrap;
    }
    .product-category .category .product  {
        width: calc((100% - 30px) / 2);
        text-align: center;
    }
    .product-category .product span img {
        width: 100px;
        height: 100px;
    }
    .product-category .product h3 {
        font-size: 18px;
    }
    .product-category .product p {
        margin-top: 20px;
        font-size: 17px;
    }
    .product-category .product button {
        margin-top: 30px;
    }
    .product-category .product button a {
        font-size: 16px;
    }
    /* End Responsive for product category */
    /* Start Styling of cart */
    .cart {
        height: 90vh;
    }
    .cart ul li {
        width: calc(80%  / 2);
    }
    /* End Styling of cart */
    /* Start Responsive of register */
    .register {
        height: 80vh;
    }
    .register form {
        width: 80%;
    }
    .register form .f-name, 
    .register form .l-name, 
    .register form .email, 
    .register form .pw,
    .register form .username,
    .register form .radio,
    .register form .conditions {
        width: 100%;
    }
    .register form button {
        width: 100%;
    }
    /* End Responsive of register */
    /* Start Responsive of login */
    .login {
        height: 80vh;
    }
    .login form {
        width: 80%;
    }
    .login h2 {
        text-align: center;
    }
    .login form h2,
    .login form .username,
    .login form .pw,
    .login form button {
        width: 100%;
    }
    /* End Responsive of login */
    /* Start Responsive of not found */
    .not-found {
        height: 85vh;
    }
    /* End Responsive of not found */
}
@media (min-width : 1024px) and (max-width : 1200px) {
    /* Start Responsive for prodcut category */
    .product-category {
        margin: 17% 0;
    }
    .product-category .category {
        height: auto;
        flex-wrap: wrap;
    }
    .product-category .category .product  {
        width: calc((100% - 30px) / 2);
        text-align: center;
    }
    .product-category .product span img {
        width: 100px;
        height: 100px;
    }
    .product-category .product h3 {
        font-size: 18px;
    }
    .product-category .product p {
        margin-top: 20px;
        font-size: 17px;
    }
    .product-category .product button {
        margin-top: 30px;
    }
    .product-category .product button a {
        font-size: 16px;
    }
    /* End Responsive for product category */
    /* Start  Responsive for product detail*/
    .product-detail {
        height: 100vh;
    }
    /* End  Responsive for product detail*/
    /* Start Responsive for confirmation message */
    .confirm {
        width: 100%;
        height: 198%;
    }
    /* End Responsive for confirmation message */
    /* Start Styling of cart */
    .cart ul li {
        text-align: center;
    }
    .cart li p{
        line-height: 1.6;
    }
    /* End Styling of cart */
    /* Start Responsive of register */
    .register {
        height: 95vh;
    }
    .register form {
        width: 80%;
    }
    .register form .f-name, 
    .register form .l-name, 
    .register form .email, 
    .register form .pw,
    .register form .username,
    .register form .radio,
    .register form .conditions {
        width: 100%;
    }
    .register form button {
        width: 100%;
    }
    /* End Responsive of register */
    /* Start Responsive of login */
    .login {
        height: 90vh;
    }
    .login form {
        width: 80%;
    }
    .login h2 {
        text-align: center;
    }
    .login form h2,
    .login form .username,
    .login form .pw,
    .login form button {
        width: 100%;
    }
    /* End Responsive of login */
    /* Start Responsive of not found */
    .not-found {
        height: 85vh;
    }
    /* End Responsive of not found */
}
